@{
    ViewData["Title"] = "Donations";
}
<h1>@ViewData["Title"]</h1>

<h2>Dont worry many religions will be added soon</h2>

<h2>The only way to save ourselfs is actually if we put our planet first!</h2>

<br />

<h2><a href="https://www.greenpeace.org/international/act/donate/">Click here</a> to donate for a better planet and help spread the word of God!</h2>