
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">EPRAY LOVE</h1>

    <div class="w3-card w3-container w3-red" id="prayer">Hello sinner</div>
    <div class="content-card">
        <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="purple" data-radius="none">
                <div class="content">
                    <h3 class="category"><b>Our purpose</b></h3>
                    <p class="description">
                        Are you having a bad day?<br />
                        Are you in a bad mood?<br />
                        Do you feel like nothing is working out for you?<br />
                    </p>
                </div>
            </div> <!-- end card -->
        </div>
    </div>

</div>
<div class="buttons">
    <a class="btn btn-danger btn-lg" asp-area="" asp-controller="Home" asp-action="GetPrayers">CHRISTIAN</a>
    <a class="btn btn-danger btn-lg" asp-area="" asp-controller="Home" asp-action="GetPrayers">MUSLIM</a>
    <a class="btn btn-danger btn-lg" asp-area="" asp-controller="Home" asp-action="GetPrayers">BUDIST</a>
    <a class="btn btn-danger btn-lg" asp-area="" asp-controller="Home" asp-action="GetPrayers">RASTAFARI</a>
    <a class="btn btn-danger btn-lg" asp-area="" asp-controller="Home" asp-action="GetPrayers">OTHER</a>
</div>
@section Scripts{
    <script src="~/js/speechInHome.js"></script>
}
